.back-menu{
 background-color: #DDC8C8;
}

.icon-menu{
  border: 0px;
  background-color: #DDC8C8;
}

.hamburger{
  background-color: black;
}

.logo{
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.active-menu{
  background-color: pink;
}
