.body{
  font-family: Roboto;
  font-family: Barrio;
}

.img-bar{
  width: 100%;
  position: absolute;
  margin-left: -4%;
}

.bandyt{
  font-family: barrio;
  font-size: 82px;
  color: white;
  text-shadow:0 4px 2px lightpink;
  text-align: center;
  margin-top: 24%;
}

#bandyt{
  font-family: barrio;
  font-size: 48px;
  color: white;
  text-shadow:0 3px 2px lightpink;
  text-align: center;
  margin-top: 20%;
}

#bandyt-menu{
  font-family: barrio;
  font-size: 42px;
  color: white;
  text-shadow:0 2px 1px lightpink;
  text-align: center;
  margin-top: -15%;
  margin-left: 32%;
  padding-left: 0;
}


.text{
  font-size: 20px;
  font-family: roboto;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  margin-bottom: -16px;
  width: 100%;
  margin-top: 12%;
}

#terms{
  font-size: 14px;
  font-family: roboto;
  color: #3c3a3d;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  width: 100%;
  margin-top: 13%;
}

#text{
  font-size: 14px;
  font-family: roboto;
  color: #3c3a3d;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  width: 100%;
  margin-top: 22%;
}

.text-login{
  font-size: 18px;
  font-family: roboto;
  color: white;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  margin-bottom: -16px;
  width: 100%;
  margin-top: 1%;
}

.text-trueque{
  font-size: 18px;
  font-family: roboto;
  color: #3c3a3d;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  margin-bottom: -16px;
  width: 100%;
  margin-top: 60%;
}

.instrucciones{
  font-size: 14px;
  font-family: roboto;
  color: #3c3a3d;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  margin-bottom: 0;
  width: 100%;
  margin-top: 2%;
}

.letritas{
  font-size: 16px;
  font-family: roboto;
  color: grey;
  text-align: center;
  float: left;
  height: 50px;
  margin-left: 0%;
  margin-bottom: -16px;
  width: 100%;
  margin-top: 24%;
}

.forms{
  margin-top: 90%;
  margin-left: 22px;
}

#forms{
  margin-top: 64%;
  margin-left: 10%;
  width: 80%;
  font-family: roboto;
  text-align: center;
  font-size: 14px;
  color: #3c3a3d;
}

.labels{
  color: white;
}

.login-form{
  margin-top: 2%;
  margin-left: 22px;
}

#login-form{
  margin-top: 50%;
  margin-left: 22px;
}

.input-text{
  background-color: inherit;
  border-color: white;
  width: 305px;
  margin-left: -12px;
}

.boton-login{
  color: #e6dee9;
  background-color: #3c3a3d;
  width: 150px;
  height: 40px;
  font-family: roboto;
  font-weight: lighter;
}

.boton-login:hover{
  background-color: #e6dee9;
  color: #3c3a3d;
}

#continuar{
  width: 305px;
  color: #e6dee9;
  background-color: #3c3a3d;
  height: 40px;
  font-family: roboto;
  font-weight: lighter;
  margin-top: 208px;
}

.boton-link{
  color: #e6dee9;
}

.col-12{
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}


.boton-trueque{
  margin-top: -30px;
  float: right;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  color: #3c3a3d;
  text-align: center;
  width: 132px;
  height: 32px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 8px 0px 6px 1px;
}

.boton-trueque:hover{
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: #e6dee9;
}


.img-background{
  width: 125%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -95px;
  background-attachment: fixed;
  background-image: image(img/welcome.jpg);
  border-radius: 0;
}
