.body{
  font-family: Roboto;
}

.thumbnail-box{
  margin-top: 50px;
  border: 1px grey;
  align-items: center;
}


.profile-divleft{
  display: inline-block;
  margin-left: -12px;
}

.media-right{
  width: 425px;
  float: right;
  margin: 32px 15px 0 0;
  text-align: right;
  font-size: 32px;
}

.carrusel{
  margin-top: -25px;
}

.position-indicator{
  bottom: -5px;
}

.sombra-carrusel{
  height: 345px;
  margin-top: -32px;
}

.product-image{
  width: 940px;
  height: 960px;
}

.icon-menu{
  height: 45px;
  margin-top: 5px;
  margin-left: -25px;
  float: left;
  width: 400px;
  color: #3c3a3d;
}

.boton-trueque{
  margin-top: -30px;
  float: right;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  color: #3c3a3d;
  text-align: center;
  width: 132px;
  height: 32px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0;
  padding: 8px 0px 6px 1px;
}

.boton-trueque:hover{
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  color: #e6dee9;
}

.swap-icon{
  height: 14px;
  width: 14px;
  float: right;
}

.icon{
  font-size: 16px;
  padding-left: 25px;
  margin-top: 12px;
}

#icon{
  margin-top: -8px;
  height: 13px;
  padding-left: 20px;
  color: #3c3a3d;
}

#tag-icon{
  margin-top: 8px;
  height: 13px;
  padding-left: 26px;
  color: #bdc2e8;
}

.size-text{
  font-size: 16px;
  font-family: roboto+700;
  color: #bdc2e8;
  text-align: center;
  float: left;
  height: 50px;
  margin-top: -10px;
  margin-left: -8px;
  margin-bottom: -16px;
}
