body{
  margin-top: 60px;
  background: #DDC8C8;
}
.title{
  color: #DDC8C8;
  text-shadow: 2px 2px 4px black;
  size: 20px;
}
.text{
  color: black;
}
.boton{
  background-color: #DDC8C8;
  color: black;
  border-color: black;
  padding: 15px 50px;
}
.boton:hover{
  background-color: black;
  color: #DDC8C8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 15px 52px;
}
.login{
  margin-top: 20px;
  margin-bottom: 15px;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: gray;
}
